[mysqld]
user=mysql
default-storage-engine=INNODB
character-set-server=utf8
character-set-client-handshake=FALSE
collation-server=utf8_unicode_ci
init_connect='SET NAMES utf8'
max_allowed_packet=64M
[client]
default-character-set=utf8
net_read_timeout=1200
net_write_timeout=9000
[mysql]
default-character-set=utf8
